.content-about-us {
    height: 400px;
    background-color: aqua;
}

.content-ac-brand {
    height: 400px;
    background-color: bisque;
}

.content-services {
    height: 400px;
    background-color: yellowgreen;
}