.header-arrangement {
    display: flex;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background-color: rgba(92, 92, 92, 0.7);
    transition: 0.6s;
}

.header-logo {
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
    color: white;
}

.header-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 550px;
}

.header-categories a {
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    color: white;
    text-decoration: none;
    position: relative;
}

.header-categories a:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: white;
    bottom: -5px;
    transition: 0.4s;
}

.header-categories a:hover::before {
    width: 100%;
}


#check,
#close-menu,
#open-menu {
    display: none;
}
.icons {
    position: absolute;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

#check:checked~.icons #open-menu {
    display: none;
}
#check:checked~.icons #close-menu {
    display: block;
}

@media (max-width: 800px) {
    .header-categories {
        display: none;
    }
    .header-categories.show-menu {
        background-color: rgba(44, 44, 44, 0.7);
        position: absolute;
        top: 80px;
        left: 0;
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-categories a:hover::before {
        width: 0%;
    }
    #open-menu {
        display: block;
    }
}